.button {
  display: block;
  margin-top: 20px;
  padding: 15px 45px;
  background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer; /* Dodano efekt kursora po najechaniu */
}

.button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
