 <!-- 
   przycisk do aktualnych rezerwacji 4.5
   przycisk powrotu do strony głównej 3
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potwierdzenie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">

</head>
<body>
    <div class="container">
        <a href="{{ url_for('currentBooking') }}" class="button"> Aktualne Rezerwacje</a>
       <a href="{{ url_for('homePage') }}" class="button">Powrót do Home</a>
    </div>
</body>
</html>
